body {
	background-image: url('https://pbs.twimg.com/media/CJ9xBOrWEAAq302.jpg');
}
.container {
	width: 700px;
	height: 1000px;
	margin: 0 auto 0 auto;
	font-family: "Impact";
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/00/9f/59/009f598da047a8dea7422733198a3f16.jpg');

}
.header {
	background-image: url('https://t3.ftcdn.net/jpg/00/83/09/24/240_F_83092474_QtoFK9KOhSeyJD7a2XG9gmgG1qe1dqtt.jpg');
	height: 80px;
	width: 940px;
	padding: 20px;

}
h1 {
	font-size: 50px;
	font-family: "Comic sans MS";
	color: #00e461;
	text-shadow: 2px 2px #FFFFFF;
}
h2 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: "Impact";
	color: #AD19AB;
	text-shadow: 2px 2px #FFFFFF;

}

h3 {
	text-align: center;
	font-size: 50px;
	font-family: "Impact";
	color: #FFFFFF;
}
h4 {
	font-family: "Comic Sans MS";
	font-size: 45px;
	font-st
	color: #000000;
	text-shadow: 5px 5px #00e461;
}
h5 {
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Impact";
	letter-spacing: 5px;
	color: yellow;
	text-shadow: 5px 5px black;
}

body {
	font-size: 14px;
	font-family: "Comic sans MS";
	width: auto;

}
.white {
	background-color: #b478fe;
	width: 940px;
	padding: 20px;
    width: 935px; 
    height: auto;
}


}
p {
	margin-bottom: 20px;
	outline-color: #54cc67;

}
.pictures img { 
 	
 	width: auto;
 	height: auto;
  }

 .footer {
 	background-color: #f701f4;
	height: 80px;
	width: 940px;
	padding: 20px;
 }


